.form{

  .wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    vertical-align: middle;
    height: 100vh;
    form{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      label {
        font-size: 1rem;
      }
      div{
        width: 100%;
        input{
          width: 100%;
          padding: .5rem;
          border-radius: 5px;
          margin-bottom: 1rem;
          border: 1px solid;
        }
        textarea{
          width: 100%;
          height: 100px;
          padding: .5rem;
          border-radius: 5px;
          margin-bottom: 1rem;
          border: 1px solid;
        }
      }
      select{
        width: 100%;
        padding: .5rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        border: 1px solid;
      }

      .submit {
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
        input[type="submit"]{
          margin-top: 1rem;
          width: 70%;
          padding: 1rem;
          font-size: 1rem;
          background-color: var(--canard);
          border: 1px solid var(--canard);
          color: var(--blanc);
          border-radius: 4px;
          font-weight: 900;
          transition: all 0.5s;
          &:hover {
            background-color: var(--blanc);
            color: var(--canard);
          }
        }
      }
    }
  }
}