.form2{

  .wrap{
    form{
      width: 100%;
      align-items: center;
      gap: 1rem;
      display: flex;

      label {
        font-size: 1rem;
        width: 20%;
        text-align: right;
      }
        select{
          width: 40%;
          border-radius: 5px;
          border: 1px solid;
          padding: .5rem;

      }
      input{
        width: 100%;
        border-radius: 5px;
        border: 1px solid;
        padding: .5rem;

      }

      .submit {
        width: 40%;
        justify-content: center;
        display: flex;
        input[type="submit"]{
          width: 70%;
          padding: .3rem;
          font-size: 1rem;
          background-color: var(--canard);
          border: 1px solid var(--canard);
          color: var(--blanc);
          border-radius: 4px;
          font-weight: 900;
          transition: all 0.5s;
          &:hover {
            background-color: var(--blanc);
            color: var(--canard);
          }
        }
      }
    }
  }
}