.wrap{
padding-top: 1rem ;
  h1{
    text-transform: uppercase;
    text-align: center;
    width: 90%;
    border-top: solid var(--canard) 1px;
    border-bottom: solid var(--canard) 1px;
    padding: 1rem 0;
    margin: 2rem;
  }
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 12px;
      text-align: left;
      border: 1px solid #ccc;
    }

    th {
      background-color: #f2f2f2;
    }

    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tbody tr:hover {
      background-color: #ddd;
    }

    td:last-child {
      text-align: center;
    }

    a, input {
      display: inline-block;
      padding: 6px;
      margin: 2px;
      background-color: var(--canard);
      border: 1px solid var(--canard);
      color: var(--blanc);
      text-decoration: none;
      border-radius: 4px;

      &:hover {
        background-color: var(--blanc);
        color: var(--canard);
      }
    }
  }

}