#masthead {
  padding: 1rem 0;
  background-color: var(--marron);
  height: 60px;
  nav ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    li a {
      color: var(--blanc);
    }
  }
}