

#sidebar {
  height: 100vh;
  width: 300px;
  background-color: var(--bleu);
  position: fixed;

  a {
    color: var(--blanc);
  }

  .wrapsidebar {
    .logo {
      img {
        width: 100%;
      }
    }

    .sidebarcontainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 2rem;
      #mainmenu{
        display: flex;
        flex-direction: column;
        font-weight: 900;
        gap: 2rem;
        width: 100%;
        justify-content: center;
        align-items: center;
        a{
          width: 90%;
          transition: all 0.3s ease;
          border-radius: 0.25rem;
          font-size: 1rem;
          padding: 0.5rem 1rem;
          border-bottom: var(--blanc) solid 1px;
          &:hover {
            background-color: var(--canard);
          }
        }
      }
        .dropdown {
          position: relative;
          display: inline-block;
          width: 90%;

          .dropdown-toggle {
            background-color: var(--bleu);
            color: var(--blanc);
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 0.25rem;
            font-size: 1rem;
            font-weight: 900;
            cursor: pointer;
            transition: all 0.3s ease;
            border-bottom: var(--blanc) solid 1px;
            width: 100%;

            &:hover {
              background-color: var(--canard);
            }
          }

          .dropdown-menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1;
            display: none;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0;
            font-size: 1rem;
            list-style: none;
            background-color: var(--blanc);
            border: 1px solid var(--canard);
            border-radius: 0.25rem;
            width: 100%;
            text-align: center;

            li {
              width: 100%;
              a {
                display: block;
                padding: 0.5rem 1rem;
                color: var(--bleu);
                text-decoration: none;
                font-weight: 400;
                transition: all 0.3s ease;

                &:hover {
                  background-color: var(--vertclair);
                  color: var(--blanc);
                }
              }
            }
          }

          &:hover .dropdown-menu {
            display: block;
          }
        }


      }
    }
  }
