.containersingle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.one {
  text-align: center;
  padding: 20px;
  border: solid 1px var(--canard);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

  h2 {
    margin-bottom: 10px;
  }

  .buttons {
    display: flex;
    justify-content: center;

    a {
      margin: 0 10px;
      padding: 10px 20px;
      background-color: var(--canard);
      border: solid 1px var(--canard);
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: var(--blanc);
        color: var(--canard);
      }
    }
  }
}
