*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol
{
  list-style: none;
}
a
{
  text-decoration: none;
}
textarea
{
  resize : none;
}
body
{
  font-family: var(--font-family);
  font-size: 16px;
  line-height: 1.4;
  background-color: var(--marronclair);
}
.wrap
{
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.container
{
  margin-left: 300px;
}