:root {
  --font-family: 'Verdana', 'Arial', sans-serif;
  --bleu: #22577a;
  --canard: #38a3a5;
  --vert: #57cc99;
  --vertclair: #80ed99;
  --clair: rgba(199, 249, 204, 0.82);
  --blanc: #ffffff;
}

